<h1> Prestshop credentials </h1>

<%= form_for @session, url: sessions_path do |f| %>
  <ul>
    <% @session.errors.full_messages.each do |error_message| %>
    <li> <%= error_message %> </li>
    <% end %>
  </ul>

  <%= f.label :presta_shop_url, 'PrestaShop URL' %>
  <%= f.text_field :presta_shop_url %>

  </br>
  </br>

  <%= f.label :presta_shop_api_key, 'PrestaShop API KEY' %>
  <%= f.text_field :presta_shop_api_key %>

  </br>
  </br>

  <%= f.submit 'Login' %>
<% end %>
