<% if session[:presta_shop_url].present? && session[:presta_shop_api_key].present? %>
  <p> <%= "Current Prestaphop URL: #{session[:presta_shop_url]}" %> </p>
  <p> <%= "Current Prestaphop API KEY: #{session[:presta_shop_api_key]}" %> </p>
  <%= link_to 'Change credentials', new_session_path %>
<% end %>

</br>
</br>
</br>
