<h1> Products list </h1>

<table align='center'>
  <thead>
    <th>ID</th>
    </th>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      </tr>
        <td> <%= "##{product[:id]}" %> </td>
        <td> <%= link_to "Detail", product_path(id: product[:id]) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2> <%= link_to "New Product", new_product_path %> </h2>
