<h1> New product </h1>

<%= form_for @product, url: products_path do |f| %>
  <ul>
    <% @product.errors.full_messages.each do |error_message| %>
    <li> <%= error_message %> </li>
    <% end %>
  </ul>

  <%= f.label :name, 'Name' %>
  <%= f.text_field :name %>

  </br>
  </br>

  <%= f.label :reference, 'Reference' %>
  <%= f.text_field :reference %>

  </br>
  </br>

  <%= f.label :price, 'Price' %>
  <%= f.text_field :price %>

  </br>
  </br>

  <%= f.submit 'Save' %>
<% end %>
