<h1> Product detail </h1>

<p> <%= "##{@product[:id]}" %> </p>
<p> <%= "Mininal quantity: #{@product[:minimal_quantity]}" %> </p>
<p> <%= "Price: #{@product[:price]}" %> </p>
<p> <%= "Name: #{@product[:name]}" %> </p>

<%= link_to 'Back', :back %>
