<!DOCTYPE html>
<html>
  <head>
    <title>PrestashopWrapper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body align='center'>
    <%= render 'header' %>
    <%= render 'flash_messages' %>

    <%= yield %>
  </body>
</html>
